*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    
}
li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #060013;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding:0;
    height: 100vh;
}
header {
    position: fixed;
    background-color: #799e8d;
    width: 100%;
    display: flex;  
    justify-content: space-between;
    align-items: center; 
    padding: 20px 5%;
    z-index: 999;   
}

.logo {
    display: flex;
    width: 15vh;
    cursor: pointer;
    
}
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: beige;
}



.button {  
    padding: 9px 25px;
    background-color: #cb3a3c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button:hover{
    padding: 9px 25px;
    background-color: #8f1f21;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.profile {
    display: flex;
    align-items: center;
    color: whitesmoke;
    background: #cb3a3c;
    border: 2px solid black;
    border-radius: 6px;
    height: 50px;
    min-width: 170px;
    padding-left: 1%;
    align-items: center;
    justify-items: center;
}

.profile i {
    font-size: 30px;
    padding-bottom: 5px;
    padding-left: 3%;
}

.profile:hover {
    background-color: #8f1f21;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.sub-menu-wrap {
    position: absolute;
    top: 80%;
    right: 4.5%;
    width: 250px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu-wrap .sub-menu {
    background: #fff;
    padding: 15px;
    margin: 10px;
}
.sub-menu-wrap .sub-menu .sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sub-menu-wrap .sub-menu .sub-menu-link span {
    transition: transform 0.5s;
}
.sub-menu-wrap .sub-menu .sub-menu-link span:hover {
    transform: translateX(5px);
}

.sub-menu-wrap .sub-menu .sub-menu-link p {
    padding-left: 5%;
}

.sub-menu-wrap .sub-menu .sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 20%;
    padding: 8px;
    margin-right: 15px;

}


.popup {
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
}
.button_create {
    padding: 9px 25px;
    background-color: #3a7459;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
.button_create:hover {
    padding: 9px 25px;
    background-color: #678879;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.popup-container .button_create {
    padding: 9px 25px;
    background-color: #3a7459;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
.popup-container .button_create:hover {
    padding: 9px 25px;
    background-color: #678879;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.popup-container {
    height: 380px;
    width: 500px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    
}

.popup-container .color_logo {
    background: #799e8d;
    display: block;
    width: 100%;
    height: 20%;
    display: block;
    text-align: center;
    padding-top: 3%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.popup-container label {
    display: block;
    text-align: left;
    margin-left: 12.5%;
   
}
.popup-container .logopop{
    width: 20vh;   
}

.popup-container input {
    margin: 20px auto;
    display: block;
    width: 75%;
    height: 10%;
    padding: 8px;
    border: 1px solid gray;
}

.close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, .75);
    cursor: pointer;

}

.popup_signup {
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
}

.popup-container-signup {
    height: 500px;
    width: 500px;
    background: #fff;
    border-radius: 10px;
    position: relative;

}

.popup-container-signup .color_logo {
    background: #799e8d;
    display: block;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.popup-container-signup label {
    display: block;
    text-align: left;
    margin-left: 12.5%;
   
}
.popup-container-signup .logopop{
    width: 20vh;   
}

.popup-container-signup input {
    margin: 20px auto;
    display: block;
    width: 75%;
    padding: 8px;
    border: 1px solid gray;
}

.close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, .75);
    cursor: pointer;

}
.close-signup {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, .75);
    cursor: pointer;

}

#section1 {
    height: 700px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    padding-left: 8%;
    padding-top: 5%;
}

.container_sec1{
    margin-top:10%;
    margin-right: 20%;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
    position: relative;
    border-radius: 5px;
    border-color: #060013;
    border-style: solid;
    display: block;
    height: 50vh;
    position: static;
    overflow: hidden;
    
}

#section1 h1 {
    margin-top: 15%;
    margin-left: 6%;
    color: rgb(0, 0, 0);
    font-size: 75px; 
}


.left {
    width: 40%;
    margin-left: 7%;
}
#section1 h2 {
    margin-left: 6%;
    color: rgb(15, 15, 15); 
    font-size: 50px;
}

.other {
    margin-top: 23%;
    float: left;
    position:static;
    width: 60%;
}

#section2 {  
    height: 600px;
    background-image:url(../images/green-diamond-patterns-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 100%;
     
}
#section2 img {
    width: 350px;
    position: static;
    margin-top: 5%;
}
.service-text {
    width: 550px;
}
.services {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service-text h1{
    font-size: 80px;
}
.service-text h5{
    font-size: 25px;
    margin-bottom: 20px;
    color: black;
}

#section3 {
    height: 1000px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/green-diamond-patterns-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding:50px 0px;
    
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 10px auto;
    text-align: center;
}

.box{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    margin-left: 100px;
}

.card {
    height: 250px;
    width: 335px;
    padding: 20px 35px;
    background: #678879;
    border-radius: 20px;
    margin: 15px;
    position: static;
    overflow: hidden;
    text-align: center;

}
.card:hover{
    transform: scale(1.2);
	transition: .3s;
}
h5 {
    color: black;
    font-size: 23px;
    margin-bottom: 16px;
}
.pra p {
    color: aliceblue;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

#section4 {
    height: 400px;
    background-image:url(../images/3897150.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 100%;
    padding-top: 2%;
    justify-content: flex-end;
}

#section4 img {
    width: 450px;
    position: static;
    margin-top: 3%;
    justify-content: flex-end;
    
}
.about-text {
    width: 550px;
}
.about-us {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.about-us h1{
    font-size: 80px;
    color: white;
}

footer{
	position: relative;
	width: 100%;
	height: 300px;
	background-image:url(../images/peakpx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #799e8d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}

.add-form-container{
    height:700px;
    padding-top: 110px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/spy-x-family-eating-in-restaurant-8x0huenhrpktet91.png);
    width: 100%;
    font-size: 25px;
}
.add-form-box{
    margin-left: 4%;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
    border-radius: 5px;
    border-color: #060013;
    border-style: solid;
    height: 76vh;
    width: 80vh;
    padding: 1%;
}
.add-form-container p.error{
    text-align: justify;
    line-height: 20px;
    padding: 0;
    font-size: 12px;
    color: #cb3a3c;
}
.add-form-container label {
    display: block;
    margin-top: 3%;
}
.add-form-container h3 {
    font-size: 50px;
}

.button_res {  
    padding: 9px ;
    background-color: #cb3a3c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 30%;
    font-size: 20px;
    position: relative;
    left: 90%;
    
}

.button_res:hover{
    padding: 9px 25px;
    background-color: #8f1f21;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.add-form-container input[type="datetime-local" i] {
    font-size: 15px;
}


.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 5px;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  /* Create a custom checkbox */
.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkbox {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkbox {
    background-color: #2196F3;
  }
  
  /* Create the checkbox/indicator (hidden when not checked) */
  .checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkbox when checked */
  .container input:checked ~ .checkbox:after {
    display: block;
  }
  
  /* Style the checkbox/indicator */
  .container .checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .add-form{
    max-width: 400px;
  }

  form.add-form .button{
    display: block;
    margin: 0 0 0 auto;
  }

  .form-size{
    max-width: 400px;
  }

  input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid black;
}

